// Define variables for your color scheme

// For example:
// $red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$grey: #E6DEDD;
$red: #8F1D14;
$black: #1B120F;
$orange: #F89D13;
