.container-instruments {
  background: $light-gray;
  height: 100%;
  margin-bottom: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 10px;
  padding: 20px;
}

.flex-card {
  margin: 10px;
  color: #35393C;
  display: flex;
  justify-content: space-between;
}

.instrument {
  img {
    height: 500px;
  }
}

.spacing-button-show {
  margin-top: 20px;
}

.margin-top-show {
  margin-top: 20px;
}

.location-font {
  color: #888888;
  font-family: sans-serif;
  font-size: 14px !important;
}

.price {
  color: #6CC7BE;
}
