
<div class="banner">
  <div class="container banner-content text-center">
    <h1>The world would be a misserable place without Music!</h1>
    <p>Zappa Rental brings music to creative people from creative people</p>
    <%= link_to "Start here", instruments_path, class: "btn btn-lg btn-primary btn-start"  %>
  </div>
</div>

