.buttons-margin {
  color: #FEFEFE;
  margin: 20px;
  font-family: 'Cantarell', sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.buttons-margin:hover {
  color: #222;
  text-decoration: none;
}

.btn-start {
  background-color: $orange;
  border: none;
}

.button-create {
  margin-left: 20px;
  background: $orange;
  border: none;
}

.button-login {
  margin: 30px;
}

.button-login-landing {
  margin-top: 50px;
}

.btn-start:hover {
  // color: red;
  background: #F8AF13;
}
