.buttons-margin {
  color: #FEFEFE;
  margin: 20px;
  font-family: 'Cantarell', sans-serif;
  font-weight: bolder;
  font-size: 15px;
}

.btn-start {
  background-color: $orange;
  border: none;
}

.button-create {
  margin-left: 20px;
}

.button-login {
  margin: 30px;
}

.button-login-landing {
  margin-top: 50px;
}
