.navbar-wagon {
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar-wagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-wagon .navbar-brand img {
  width: 40px;
}

.navbar-buttons {
  margin: 20px;
}
